<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="eNetBankingV1">

<listeners> 
	<listener class-name="com.eNetBanking.utilities.Reporting" />
</listeners>

<test name= "Banking App Test">
	<parameter name ="browser" value= "chrome" />
		<classes>
			<class name ="com.eNetBanking.testCases.TC_LoginPage_01" />
		</classes>
</test>

</suite>
